<div id="globalModal" class="modal">
  <div class="modal-content">
    <span class="modal-close">&times;</span>
    <h2 id="modalTitle"><%= modal_title %></h2>
    <div id="modalBody">
      <%= render modal_content %>
    </div>
  </div>
</div>

