:root {
    --global-color-0: #be7c68;
    --global-color-1: #be7c68;
    --global-color-2: #131516;
    --global-color-3: #707c84;
    --global-color-4: #F5F5F5;
    --global-color-6: #F2F5F7;
    --global-color-7: #131516;
    --global-color-8: #000000;
    --global-color-9: #FAF9F6;
    --global-color-10: #eee;
    --text-danger: #f33e5d;
    --text-info: #0077ff;
    --text-success: #2CB725;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--global-color-8);
}

body{
    overflow-x: hidden;
}

.main-body-wrapper{
    min-height: 100vh;
}

.custom_info_btn{
    --color: var(--text-info);
}
.custom_danger_btn{
    --color: var(--text-danger);
}
.custom_success_btn{
    --color: var(--text-success); ;
}

.custom_button {
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
    text-decoration: none;
    text-align: center;
}
  
.custom_button::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
}
  
.custom_button:hover {
    color: white;
    text-decoration: none;
}
  
.custom_button:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
}
  
.custom_button:hover::before {
    top: -30px;
    left: -30px;
}
