@import 'global';
.image-upload-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-preview{
  width: 50%;
  height: auto;
  cursor: pointer;
}

.table-actions{
  display: flex;
  justify-content: space-between;
}

form .user-details {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
} 
.details {
  display: block;
  font-weight: 500;
  font-size: 18px;
  /* margin-bottom: 5px; */
}
.main_cu_container input,
select, textarea{
  /* border-bottom-width: 2px; */
  border-radius: 5px;
  border: 1px solid var( --global-color-7);
  font-size: 14px;  
  height: 40px;
  outline: none;
  padding-left: 15px;
  width: 100%;
}

::-webkit-scrollbar {
  height: 6px;
  width: 2px;
  background: var(--global-color-3);
}

::-webkit-scrollbar-thumb {
  background: var(--global-color-9);
  -webkit-box-shadow: 0px 1px 2px var(--primary);
}

::-webkit-scrollbar-corner {
  background: var(--global-color-7);
}



.table_link{
  text-decoration:none !important;
  min-width: fit-content;
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  font-size:16px;
  outline:none !important;
}

.padding_1{
  padding:1rem;
}

.padding_2{
  padding:2rem;
}

.padding_3{
  padding:3rem;
}

.padding_4{
  padding:4rem;
}

.relative{
  position:relative;
}

@media (max-width:720px){
  .flex{
      flex-wrap:wrap;
  }
  
  .padding_1, .padding_2, .padding_3, .padding_4{
      padding:1rem;
  }
  
  a{
      font-size:12px;
  }
}

/* Hovering on upload Image */

.content_img {
  margin: 1em 0;
  position: relative;
}
.img-text {
  position: absolute;
  top: 50%;
  right: 32%;
  color: var(--global-color-8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
  background: var(--global-color-10);
}
#img-preview:hover + .img-text {
  visibility: visible;
  opacity: 1;
}

/*SMALL SCREEN*/
@media (max-width:300px){
  .padding_1, .padding_2, .padding_3, .padding_4{
      padding:0.5rem;
  }
  
  a{
      font-size:10px;
  }
  
}


.table-continer{
  width:100%;
  overflow-x:auto;
  padding:1rem;
}

table{
  margin:auto;
  width:100%;
  overflow:hidden;
  background-color:var(--global-color-9);
  border-radius:10px;
  position:relative;
  border-collapse:collapse;
  z-index:1;
  color:var(--global-color-3);
  white-space:nowrap;
}

tbody tr:not(:last-child){
  border-bottom:1px solid rgba(1,1,1,0.2);
}

th, td{
  padding:1rem;
  gap:10px;
  position:relative;
  cursor:default;
}

td:last-child:hover a{
  color:var(--global-color-8);
}

th{
  text-transform:uppercase;
}

#uploaded_image{
  width: 45px;
  height: 100%;
}

td img{
  width:11px;
  height:11px;
  border-radius:50%;
  overflow:hidden;   
  margin-right:5px;
}

tr td:last-child, tr td:nth-last-child(2), tr td:nth-last-child(3), tr td:nth-last-child(4), tr td:nth-last-child(6), tr td:nth-last-child(7), tr td:nth-last-child(8), tr td:nth-last-child(9){
  text-align:center;
}

tr:hover{
  background-color:#f9f9f9;
}

td:last-child:hover:after{
  position:absolute;
  width:fit-content;
  left:-10%;
  top:-40%;
  transform:translate(0%, 50%);
  font-size:12px;
  color:var(--global-color-10);
  background-color:var(--global-color-7);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius:5px;
  padding:2px 4px;
  z-index:9;
}

table a{
  color:var(--global-color-3);
}

/*ICONS*/
.fa-arrow-up{
  color:var(--text-success);
}

.fa-arrow-down{
  color:var(--text-danger);
}

.fa-mars{
  color:var(--text-info);
}

/* .fa-venus{
  color:var(--pink);
} */

.active, .inactive{
  padding:0rem 0.8rem;
  border-radius:40px;
}

.active{   
  background-color:#eef2fe;
  color:var(--primary);
}

.inactive{   
  background-color:#fff0ee;
  color:var(--text-danger);
}

/*PROGRESS BAR*/
.progress{
  display:inline-block;
  background-color:var(--global-color-10);
  border-radius:40px;
  width:60px;
  height:10px;
  position:relative;
  overflow:hidden;
}

.progress em{
  position:absolute;
  left:0;
  top:0;
  height:10px;
  background-color:var(--primary);
}

@media (max-width:720px){
  .table-continer{
      background:var(--primary);
  }
  
  table{
      background-color:transparent;
  }
  .table-continer{
      overflow-y:auto;
      height:100%;
  }
  
  table thead{
      display:none;
  }
  
  table td{
      width:100%;
      display:block;
      text-align:right;
  }
  
  table td:not(:last-child){
      border-bottom:1px solid rgba(1,1,1,0.2);
  }
  
  table td:before{
      content:attr(data-label);
      z-index:1;
      float:left;
      color:var(--global-color-8);
  }
  
  tr{
      background-color:var(--global-color-9);
      border-radius:5px;
      display:block;
      margin:0.5rem 0;
  }
  
  tbody tr{
      border-bottom:none;
  }
  
  tr td{
      text-align:right !important;
  }
  
  td:last-child:hover:after{
      left:auto;
      right:10%;
      transform:translate(50%, 50%);
  }
  
  th, td{
      padding:0.5rem 1rem;
  }
}

/* User view */

.home-main-container{
  display: flex;
}

.home-main-section-1{
  width: 50%;
}

.home-main-container img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
/* ============ Full Page Slider ================= */
.creative-carousal--hero{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.creative-carousal--hero .carousel-slider {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.creative-carousal--hero .carousel-slider  .swiper-slide{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    background-size: cover;
    background-position: center;
}
.creative-carousal--hero .carousel-slider .swiper-slide.swiper-slide-active {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    z-index: 3;
}
.creative-carousal--hero .carousel-slider .swiper-slide:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #222327;
    opacity: 0.7;
}
.creative-carousal--hero .carousel-slider .swiper-slide.swiper-slide-active:after {
    opacity: 0.4;
}
.creative-carousal--hero .carousel-slider .swiper-slide .inner {
    width: 100%;
    display: block;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 2;
    opacity: 0;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}
.creative-carousal--hero .carousel-slider .swiper-slide.swiper-slide-active .inner {
    opacity: 1;
}
.creative-carousal--hero .carousel-slider .swiper-slide .inner h2{
    width: 100%;
    float: left;
    font-size: 4vw;
    line-height: 5vw;
    font-weight: 800;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 0;
}
.creative-carousal--hero .carousel-slider .swiper-slide .inner a{
    font-size: 19px;
    color: #fff;
    font-family: "Fjalla One", sans-serif;
    padding-bottom: 5px;
    position: relative;
    border-bottom: 2px solid #fff;
    padding-bottom: 4px;
    text-decoration: none;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}
.creative-carousal--hero .carousel-slider .swiper-slide .inner a:hover{
    text-decoration: none;
    color: #75dab4;
}
.creative-carousal--hero .slide-progress {
    width: 220px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 50%;
    bottom: 30px;
    margin-left: -110px;
    z-index: 3;
    text-align: center;
}
.creative-carousal--hero .slide-progress span {
    display: inline-block;
    color: #fff;
    font-family: "Fjalla One", sans-serif;
    font-size: 14px;
}
.creative-carousal--hero .slide-progress .swiper-pagination {
    width: 160px;
    height: 2px;
    margin: auto 10px;
    display: inline-block;
    position: static;
    background: rgba(255, 255, 255, 0.3);
}
.creative-carousal--hero .slide-progress .swiper-pagination .swiper-pagination-progressbar-fill {
    background: #fff;
}

.creative-carousal--hero .slide-progress span {
    display: inline-block;
    color: #fff;
    font-family: "Fjalla One", sans-serif;
    font-size: 14px;
}
.creative-carousal--hero .swiper-button-prev {
    height: auto;
    position: absolute;
    left: auto;
    top: auto;
    right: 120px;
    bottom: 30px;
    font-family: "Fjalla One", sans-serif;
    color: #fff;
    background: none;
}
.creative-carousal--hero .swiper-button-prev:after{
    display: none;
}
.creative-carousal--hero .swiper-button-next {
    height: auto;
    position: absolute;
    left: auto;
    top: auto;
    right: 40px;
    bottom: 30px;
    font-family: "Fjalla One", sans-serif;
    color: #fff;
    background: none;
}
.creative-carousal--hero .swiper-button-next:after{
    display: none;
}
/* ====================== Responsive Ipad =============================== */
@media (max-width: 991px) {
    .creative-carousal--hero .carousel-slider .swiper-slide .inner h2{
               font-size: 7vw;
        line-height: 7vw;
        margin-bottom: 15px;
    }
}

/* ====================== Responsive Iphone =============================== */
@media screen and (max-width: 767px) {
    .creative-carousal--hero .carousel-slider .swiper-slide .inner h2{
        font-size: 12vw;
        line-height: 12vw;
        margin-bottom: 15px;
    }
    .creative-carousal--hero .swiper-button-prev{
            left: 40px;
    }
    .creative-carousal--hero .swiper-button-next{
            right: 40px;
    }
}